<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}E-COMMERCE{% endblock %}</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=" <title>{% block keywords %}{% endblock %}</title>" />
    <meta name="description" content=" <title>{% block description %}{% endblock %}</title>" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="{{ asset('assets') }}/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('assets') }}/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="{{ asset('assets') }}/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="{{ asset('assets') }}/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{{ asset('assets') }}/js/move-top.js"></script>
    <script type="text/javascript" src="{{ asset('assets') }}/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block slider %}{% endblock %}
{% block content %}{% endblock %}
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-3 w3_footer_grid">
            <ul class="w3_footer_grid_list">
                <li><a href="{{ path('home') }}">Anasayfa</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <ul class="w3_footer_grid_list">
                <li><a href="{{ path('hakkimizda') }}">Hakkımızda</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <ul class="w3_footer_grid_list">
                <li><a href="{{ path('referanslar') }}">Referanslar</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <ul class="w3_footer_grid_list">
                <li><a href="{{ path('iletisim') }}">İletişim</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <div class="agile_footer_grids">
            <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                <div class="w3_footer_grid_bottom">
                    <h4>100% Güvenli Alışveriş </h4>
                    <img src="{{ asset('uploads') }}/images/card.png" alt=" " class="img-responsive" />
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('assets') }}/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->

</body>
</html>
