{% extends 'frontbase.html.twig' %}
{% block title %} Sepet {% endblock %}
{% block header %} {{ include ('home/_header.html.twig') }} {% endblock %}
{% block sidebar %} {{ include ('home/_usersidebar.html.twig') }} {% endblock %}

{% block content %}
    <div class="w3l_banner_nav_right">
        <div class="agileinfo_single">
            {{ include('messages.html.twig') }}
            <div class="privacy about" style="margin-top: -100px">
                <h3>SEPETİM</h3>

                <div class="checkout-right" >
                    <h4>Sepet İÇERİĞİM : </h4>
                    <table class="timetable_sub">
                        <thead>
                        <tr>
                            <th>Ürün Adı</th>
                            <th>Ürün</th>
                            <th>Fiyat</th>
                            <th>Miktar</th>
                            <th>Toplam Fiyat</th>
                            <th>Kaldır</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total=0 %}
                        {% for shopcart in shopcarts %}
                        <tr class="rem1">
                            <td class="invert">{{ shopcart.title }}</td>
                            <td class="invert-image"><img width="70" style=" margin-left: auto;
  margin-right: auto;" src="{{ asset('uploads') }}/images/{{ shopcart.image }}" alt=" " class="img-responsive"></td>
                            <td class="invert">
                                {{ shopcart.sprice }} ₺
                            </td>
                            <td class="invert">
                                {{ shopcart.quantity }}
                            </td>
                            <td class="invert">{{ shopcart.quantity * shopcart.sprice}} ₺</td>
                            <td class="invert">
                                <div class="rem">

                                        <a class="close1" href="{{ path('shopcart_del', {'id':shopcart.id}) }}" onclick="return confirm('Sepetinizdeki ürünü silmek istediğinize emin misiniz?')"></a>

                                </div>
                            </td>
                        </tr>
                            {% set total=total+(shopcart.quantity * shopcart.sprice) %}
                        {% else %}
                            <tr class="invert">
                                <td colspan="6">Sepetiniz Boş</td>
                            </tr>
                        {% endfor %}
                        <tr class="invert">
                            <td colspan="6"> Toplam Alışveriş Tutarı: {{ total }} ₺</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="checkout-right-basket">
                    <a href="{{ path('orders_new') }}">Ürünleri Satın Al <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                </div>
            </div>

        </div>

    </div>
    <div class="clearfix"></div>
{% endblock %}
